body{
    background-color: #ffffff;
    
}
:root{
    --c-genel:#FB4C47;
    --c-yesil:#035755;
    --c-nokta:#FA5652;
    --c-p:#4B4F51;
    --f-span: "roboto", sans-serif;
    --f-baslik:"Red  Hat  Display", sans-serif ;
}


.button{
    background-color: var(--c-genel);
    border-radius: 46px;
    box-sizing: border-box;
    border:2px solid var(--c-genel);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--f-span);
    font-weight: 500;
    font-style: normal;
    height: 60px;
    transition: 400ms;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    &:hover{
        cursor: pointer;
    }    
}

.header{
    padding-top: 31px;
    padding-bottom: 56px;
    

    .nav-wrap{
        align-items: center;
        display: flex;
        justify-content: space-between;
        
    }

    .nav {
        
        padding-top: 25px;
        text-align: center;
        &__item{
            color: var(--c-yesil);
            font-family:var(--f-span) ;
            font-style: normal;
            font-weight:400 ;
            font-size: 18px;
            line-height: 22px;
            margin-right: 40px;
            text-decoration: none;
        
        }
            &__item--active{
                color: var(--c-genel);
                pointer-events: none;
                position: relative;
                &::after{
                    content:"";
                    background:var(--c-nokta);
                    border-radius: 100px;
                    bottom: 0;
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 25px;
                    
                }
            }
        &__img{
            display: inline-block;
            margin-left: 0;
        } 
        
    }
    .button{
        height: 45px;
        margin-left: 0;
        &:hover{
            background-color: var(--c-nokta);
            color: white;
            border: 2px solid var(--c-yesil);
        }
        &--c{
            color:var(--c-genel);
        }
        &--bg{
            background-color: #ffffff;
        }
        &--font-size{
            font-size: 18px;
        }
            line-height: 22px;
    }

}
